<form action= "/zapatos/new">

Talla: <input type="number"name="talla"></br>
Color: <input type="text"name="color"></br>
Tipo: <input type="text"name="tipo"></br>
<input type="submit" name="crear" value= "crear"></br>
	
</form>