
<h1>Página login</h1>

<form action="/Usuario/validar">
	Nombre: <input type="text" name="user">
	Password: <input type="password" name="password">
	<input type="submit" value="Enviar">
<form>
	
<a href="/Usuario/indexAlta">Ir a Alta</a>
	

