<h1>Página Alta</h1>

<form action="/Usuario/alta">
	Nombre: <input type="text" name="user">
	Password: <input type="password" name="password">
	<input type="submit" value="Enviar">
<form>
	
<a href="index">Ir a index</a>
