<!DOCTYPE html>
<html>
<head>
<title>Hola mundo!</title>
<!-- Esto es un comentario en html -->
</head>

<body>
	
	<h1 style="color:#41D4D4">Ya estamos en Ruby on Rails!!</br>
			<%=@saludo%></br>
			<%=@saludo%></br>
			<%=@saludo%></br>

	</h1>

</body>

</html>
