<h3>Buscamos por comentario</h3>
<form action="/registro/buscar_por_comentario">
	
	Comentario: <input type="text" name="comentarios"><br>
	<input type="submit" value="Buscar" />
</form>

<% if @registrosEncontrados != nil%>
	<table>
		<tr>
			<th>Titulo</th>
			<th>Comentarios</th>
		</tr>
		<%for registro in @registrosEncontrados%>
		<tr>
			<td><%=registro.titulo%></td>
			<td><%=registro.comentarios%></td>
		</tr>
		<%end%>
		
	</table>
<%end%>
